#### Aquí encontrarás todo lo que necesitas saber: https://www.kaggle.com/t/ab8726f0cfc84544abbae69a6be88071

## Librerias

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.metrics import mean_squared_log_error
from sklearn.metrics import median_absolute_error
from sklearn.metrics import explained_variance_score
from sklearn.metrics import max_error
import urllib.request
from PIL import Image

## Data

In [17]:
### Para que funcione necesitas bajarte los archivos de datos de Kaggle 
train = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/train 5.csv", index_col = 0)
test = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/test 5.csv", index_col = 0)

## Data exploration

In [18]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 912 entries, 0 to 911
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ram               912 non-null    int64
 1   Weight            912 non-null    float64
 2   Memory            912 non-null    int64
 3   ScreenResolution  912 non-null    int64
 4   Price_euros       912 non-null    float64
 5   SSD               912 non-null    int64
 6   Company           912 non-null    float64
 7   TypeName          912 non-null    float64
 8   Cpu               912 non-null    float64
 9   OpSys             912 non-null    float64
 10  Gpu               912 non-null    float64
dtypes: float64(7), int64(4)
memory usage: 85.5 KB

In [19]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 391 entries, 0 to 390
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ram               391 non-null    int64
 1   Weight            391 non-null    float64
 2   Memory            391 non-null    int64
 3   ScreenResolution  391 non-null    int64
 4   SSD               391 non-null    int64
 5   Company           391 non-null    float64
 6   TypeName          391 non-null    float64
 7   Cpu               391 non-null    float64
 8   Gpu               391 non-null    float64
 9   OpSys             391 non-null    float64
dtypes: float64(6), int64(4)
memory usage: 33.6 KB

In [20]:
train.head()

,Ram,Weight,Memory,ScreenResolution,Price_euros,SSD,Company,TypeName,Cpu,OpSys,Gpu
0,4,2.40,500,1049088,387.0,0,560.810290,788.550835,435.000000,1156.522676,446.861250
1,8,1.23,256,5760000,1379.0,1,1180.813491,1536.767801,1584.005601,1156.522676,1799.077143
2,8,3.00,256,2073600,854.0,1,560.810290,788.550835,1013.174710,1156.522676,1048.985000
3,8,1.26,512,2073600,1483.0,1,1086.775714,675.884211,1584.005601,1156.522676,1172.156294
4,8,2.80,1024,1440000,519.0,0,1079.256930,788.550835,405.031111,1156.522676,405.000000

-----------------------------------------------------------------------------------------------------------------

## Pasos que si o si debéis realizar para poder participar en la competición:

### 1. Definir X e y

In [21]:
X = train.drop("Price_euros", axis = 1)
y = train['Price_euros']
X.shape

(912, 10)

In [22]:
y.shape

(912,)

### 2. Dividir X_train, X_test, y_train, y_test

In [23]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 42)

### 3. Asignar el modelo (vacío) a una variable

In [24]:
lm = LinearRegression()

### 4. Sacar métricas, valorar el modelo 

Recuerda que en la competición se va a evaluar con la métrica de MAE.

In [25]:
lm.fit(X, y)

LinearRegression()

In [26]:
coeff_df = pd.DataFrame(lm.coef_,
                        X.columns,
                        columns=['Coefficient'])
coeff_df.sort_values('Coefficient', ascending=False)

                  Coefficient
SSD                 72.356462
Ram                 42.090625
Gpu                  0.493387
OpSys                0.279586
Cpu                  0.221266
Company              0.140098
TypeName             0.129214
ScreenResolution     0.000067
Memory              -0.084911
Weight             -86.890362

In [27]:
predictions = lm.predict(X)
predictions

array([ 200.30565636, 1985.1299309 ,  903.51171203, 1279.16926721,
        361.0541447 , 1369.7298926 ,  892.34920101,  916.28503946,
       1577.81141455, 1214.51694938, 1664.93823007,  444.05852386,
       1321.48245438, 1251.12716603,  645.35944805, 1072.99400789,
       1015.83919187,  -42.25375284, 1503.26524936, 1189.21469963,
       2030.50919064, 2140.33492038, 1100.72132958, 1018.63500601,
       1425.17795745,  554.2907736 , 1369.09235257, 1290.32440177,
       1157.00951773,  808.6715962 , 1296.40672708, 1097.36256624,
        665.60090968, 1716.9488484 , 1586.61393415, 2130.53839822,
       1132.49575069,  776.8725545 ,  315.00248651, 1621.49304928,
         99.55398471, 2282.64314027, 2792.04781459,   58.17310504,
        979.10062855, 1170.40347606,  474.60495452, 1269.71239119,
        762.20176795,  400.62411457, 1772.86511359,  853.82234651,
       1692.9992632 ,  665.60090968, 1117.37992658, 2206.11256427,
       1024.40175548, 1340.94644939, 1302.24643617, 1154.21834109,
        969.71997757,  730.24544587,  709.29426893, 1402.40199764,
       1783.82663616, 1523.02155405, 1355.36420987,  454.86459914,
        775.09309333, 1129.7540879 , 1104.64062644, 1353.40921152,
        286.25373624, 2051.77056735,  493.33381072,  852.31982948,
        662.13772452, 1876.27889954, 1036.0285436 , 1270.73968936,
        986.90428833,  908.17030683, 1456.37325057,   91.28594246,
       1958.64934071,  889.99416286, 1188.20481085, 1106.41412473,
       1002.4019367 ,  461.98465547, 1412.14440321, 1585.76600512,
       1870.57369916,  411.07595208, 1174.173142  ,  270.98058822,
        257.85502371, 1329.49778823,  748.09042512,  858.02505341,
       1157.59221344,  688.49920395,  724.0146665 , 1433.31940424,
       1845.84424384, 1363.2819474 , 2059.58303953,  373.99981665,
        569.23590504, 1810.40449711, 2291.29725647,  226.8664504 ,
       2015.05355586, 1706.72363008, 2103.62104641, 2973.96121255,
       2087.99190191,  378.48204819,  696.86409364, 1172.46531702,
        705.35374577, 1916.93461254,  837.89375935,  114.2083035 ,
       1965.40148057, 1146.7236595 , 1124.47207356,  548.35215096,
       1307.34704088,  798.87477811,  886.28816782,  937.9525772 ,
        550.44848891,  212.34081933,  314.12093063, 1096.02548226,
        856.81200663, 1172.79076798,  417.15827739,  243.28825653,
       1078.21406738, 1299.27062747, 1762.46329313, 2015.05355586,
        243.28825653,  539.20835922, 1096.02548226,  731.58125642,
        704.31979337, 1542.53773427, 1171.92543515,  740.54668452,
       1589.21579279, 3100.69208843, 1224.91487394,  213.72961449,
        789.69760518, 1232.33673744, 1679.03641869, 3210.36169396,
        309.58936731, 1952.57306419, 1447.10163511,  683.4555103 ,
       2151.20347433, 2376.81184527,  503.23344083,  463.75387092,
        813.78712474, 1960.31262806,  653.16990713, 1509.39928183,
       1446.30941386, 1759.17585134, 1055.46735857, 1216.45900571,
        123.35571196, 1040.32708782,  918.88543272, 1069.48284581,
       1089.62200064, 1538.70114243, 1006.90482205, 1380.22384735,
       1604.55198464, 1492.25732217,  779.07464013, 1067.81281621,
        597.72232299, 1349.15206914,  949.80322664, 1265.06804648,
       1406.93098151,  648.24067416, 1279.57210742,  516.71097509,
       1654.44096412, 1331.67634212, 1237.09476023,  956.6717872 ,
        277.73834698,  365.8246714 , 1268.2672791 ,  324.17501418,
       1280.58094513, 1289.08323832, 2147.79257694, 1993.40996376,
        601.9340798 ,  463.07079273, 1541.45515975, 1859.84220908,
       1029.81721671,  984.75633611,  -42.25375284,  636.09313844,
       1108.54146212, 1683.38093677, 1460.1163171 , 1181.12974973,
        700.4363374 , 1707.14511647, 1192.34074233, 1915.99854366,
        884.12928808, 1374.1551632 , 1265.13526874, 1203.1941973 ,
       1302.04412464,  919.40950663,  225.14255807,  817.99274038,
        445.2867316 ,  919.83532585, 1094.13280932,  644.56275424,
       2558.64879975, 1668.29671679,  975.2052905 , 1425.07820291,
        723.42507662,  577.21754367,  766.08092098, 1393.55506209,
        248.51759506, 1314.4408652 ,  227.58996172,  842.97141611,
         70.77437349,  705.87727627, 1253.91834267,  512.12687767,
       1296.33487443, 1192.86415111, 1098.94303246,  226.8664504 ,
       1172.46531702,  620.07147004, 1717.38989081,  633.24374577,
       2166.04225282,  972.63752778, 1382.86583159, 1073.50342057,
       2032.43162817,  934.2786156 ,  470.12427958,  123.35571196,
       2844.0340729 , 1400.64967292, 2495.52367569,  834.96034994,
       1197.45367559,  485.68440617, 1009.96477812,  564.71761699,
        795.83676351, 1069.40576192, 1753.92194171, 1065.82056177,
       1241.83992642,  565.35016643,  806.69491065,  844.42343324,
        804.27502726, 2007.91805505, 1059.88614885, 1047.743292  ,
        722.2389611 , 1862.22725938, 2870.35991535,  953.01711444,
       2660.48497696, 1095.79832135, 1105.70818954, 1276.09649296,
       1156.07220927,  765.79942997,  159.67190037, 1370.48144179,
       1737.24022461,  833.75773619, 1687.40264519, 1651.03219025,
       1471.14461203,  564.37036904,  182.48035654, 1283.38760273,
        854.64530576, 4250.64629484,  796.54067259, 1397.370645  ,
       1405.58983696, 2294.90440237, 1085.15692831,  366.58915492,
       1432.44894125,  718.98168835,  549.18088494, 1790.09132944,
        490.21363142,  838.04443405,  774.86306235,  316.83806912,
        571.8572662 ,  159.67190037, 1241.19696642, 1263.64241724,
        324.58687828,  528.9199433 ,  168.32898435, 1113.2563015 ,
       1378.01137004, 1616.29456108, 1008.96069702, 1143.57704966,
        538.98340901,  995.25341643,  973.49438637, 1804.2332747 ,
        584.74047328, 1146.7236595 ,  879.21284107,  342.51388326,
       1251.69859677,  298.48966218,  608.10104009,  645.70471155,
        484.8074066 ,  499.03094394, 1648.73836249,  238.05023942,
        436.20797738,  448.77378819, 1224.48994827,  975.51517112,
        983.81668426, 1802.78140492,  360.68507916, 1810.96194605,
       1909.85554009, 1936.85223043, 1530.8972233 , 1544.29643337,
       2271.97882187, 1670.60193805, 2316.96833417, 1610.99578333,
        865.55074063,  978.67232393,  371.47747086,  263.90126984,
       1253.51942884,  764.52343809,  863.95731224, 1268.24960946,
        428.07170923,  121.01320007, 1958.81541061,  354.2145942 ,
        270.91505156, 1152.8464172 , 1321.27362958, 1172.79076798,
       1096.02548226, 1638.00508704, 1554.98290653, 1353.97378465,
       1077.40519552,   37.49830131,  987.76504363, 1807.85846453,
       1358.01364675,   34.35355388, 1670.7560601 ,  953.59284228,
        469.93698738, 1001.68057144, 1141.94410477, 1552.35321222,
        728.8113709 , 1014.97137044, 1220.22503364, 2256.14508107,
       1338.48407021,  245.60618058,  432.9079218 , 1314.28144318,
        296.55581308,  270.98058822,  727.48133237, 1003.1012052 ,
       1156.32702691,  470.12427958,  970.46726353, 1318.45590619,
       1928.16319428, 1296.34857665,  343.5881901 ,  647.45916365,
        906.10912324, 1274.06926063, 1211.67480735, 1054.43921264,
        999.21287032, 1483.19805696, 1141.69851083, 1229.63354511,
       1854.2788454 ,  944.38806658,  122.66925752,  326.40592532,
       1383.4560664 , 1141.94410477, 1365.16152069,  718.94008494,
       1130.98833295,  602.53387565, 1486.82082262, 1226.01491997,
        438.31665196,  243.28825653,  747.57139164,  545.40684174,
       1760.89775687, 1273.44297324,  964.34993874, 1746.97125122,
       1174.61683897,  337.33397486,  950.03398874, 1040.36060446,
       1073.55521791,  350.275394  ,  752.86881017,  462.50567339,
       1822.62982599, 1273.89742975, 1396.48228143,  234.2147281 ,
       1402.40199764, 1403.45536705,  999.45694934,  815.63158504,
       1800.89271811, 1422.96790927, 1213.21854991, 2272.92372713,
       1754.45527341,  718.40671702, 1423.33931591,  627.19094813,
       1768.99517258, 1078.35155587, 1109.71646264,  802.73930988,
        627.19094813, 1512.58007684, 1921.65552095,  580.79677418,
       1505.07573033,  538.52787589, 1740.87386999, 1019.66897255,
       1023.1532646 , 1515.50174165, 1157.43269945, 1128.04353144,
       1316.90498065, 1365.52760747,  808.26298984, 1211.29789456,
        738.44192138,  906.87987304, 1501.7115229 ,  793.79578721,
       1006.36414924, 1019.66897255, 2346.02366677, 1315.83183792,
       1099.32950597,  844.42343324,  298.57721144, 1084.35501449,
         26.28123079, 1158.77559909, 1481.52814148,  972.04189098,
        200.90639077, 1248.07693911, 1307.27528102,  354.30928094,
       1049.4318822 , 1458.8339238 ,  823.16959832, 1122.45496691,
         37.70085343, 1490.12809542, 2974.17198236,  666.22778514,
        605.59416006, 2248.78666688,  859.03837425, 1372.74228218,
        374.5018457 , 1040.32718903, 1337.21633985, 1103.8980871 ,
       1115.53442173, 1341.65916582, 1737.94610471,  336.26897059,
       1555.26705729, 1311.6165819 , 1438.37920922, 1840.25932482,
       1172.39236273,  281.5810637 ,  633.81738337,  516.74122165,
        261.76764309,  956.889744  , 1816.04304992, 1803.37133694,
        418.44795397,  972.63752778, 2256.14508107,  627.19094813,
        281.75969221, 1169.55475441,  656.05025273, 1879.55027157,
       2367.76077466,  760.45855322, 1083.91997784,  648.05620837,
       1015.58302929, 1481.3373629 ,  285.28898549, 1763.41134065,
        253.4679371 , 1868.13775805, 1029.03139098, 1038.16960167,
       1535.85337699, 1443.0314246 , 1968.62711893, 2323.68866693,
        593.46810609, 1180.35201879,  968.11565604,  648.05620837,
       1190.62265606, 1443.04707959,  790.40198771, 1802.3522047 ,
        816.84501275, 1589.26497335,  701.93815427, 1888.23930773,
       2165.76442106,  752.81974428, 1248.21688008, 1296.65270686,
       1229.24401495, 1008.38761895, 2466.77832397, 2813.78492248,
       1352.11439802, 1409.92465731,  805.84959431, 2749.57622985,
       2304.80368355,  971.71065544,  405.2933518 , 1130.98833295,
        565.89609551,  799.35360736, 1349.61323752, 3866.50871302,
       1426.75319218, 1359.52832581, 2078.69891907,  877.8649233 ,
        299.19476164, 1534.13623437,  805.22896648,  933.38243828,
       1361.74799349, 1161.12850757,  432.90460063, 1233.38779887,
        415.61475479, 1275.64099539, 1943.00492074,   34.92101695,
       1798.6651629 , 1001.12384582, 1361.39409288,  999.55133236,
        860.77198238, 1067.8123491 ,  821.41402728, 1074.65608955,
       1968.62711893,  540.18745469,  735.1492115 ,  219.75228012,
        297.17430996, 1279.57210742, 1229.63354511, 2259.9392274 ,
       1319.68449954, 2378.42959472, 1137.02473456, 1223.72481455,
       2154.29977861,   96.29381104, 1350.03031924,  821.93524275,
        666.70724204,  227.58996172,  825.81079019,  960.8421015 ,
       1344.91812849, 1158.95855332, 1737.94610471, 1341.11706307,
       1590.06870692, 1302.42083981,  942.60069763,  719.06653101,
        871.89453066, 1248.74029533, 1487.96757621,  990.6305885 ,
        855.95508523,  706.90188039, 1716.34219332, 1958.64162989,
        884.51625303, 1197.3087845 , 1187.93576267,  718.94008494,
       1108.21601116,  299.13776452, 1031.97873767,  787.95921189,
        759.80452394, 1039.98178126, 2785.98675059, 1302.42083981,
       1009.46231588, 2613.0508234 ,  553.2501644 , 1216.3710214 ,
        700.85857696,  427.09222323, 1393.77092453, 1790.44546699,
       1311.3503686 ,  574.98280588, 2302.7563971 , 1110.96669792,
       1263.8090243 ,  274.19396653,  309.58936731, 1952.67390407,
       1392.15722331,  359.81067446, 1193.64445476,  977.14687726,
       1263.8090243 ,  417.89088534,  791.05464556,  851.02322033,
        147.80546986, 1265.06804648,  975.3772266 , 2130.34696657,
       1664.93823007, 1275.94642648,  494.76842584, 2021.71152325,
        355.67410123,  842.34045038, 1249.86430806, 1246.0380652 ,
        414.82734202, 1181.06911613,  270.91505156,  331.12488194,
        709.22856729, 1180.35201879, 1107.52793532, 1161.05688121,
       1422.71223176, 1503.01054101, 1178.46471326,  537.59490843,
       1571.40892854,  673.79415049,  793.62201724, 1610.99578333,
        283.1188381 , 1708.13027948,  708.79653241, 1509.10141942,
       1233.38779887, 1085.55584214, 1577.20752599,  885.26190318,
        508.35339185,  655.26265132, 1463.32669034, 1767.96507023,
       1138.1899281 ,  904.44442249, 1685.46933495, 1296.66240459,
       1859.84220908, 1265.13526874, 1202.19250575, 1536.53439592,
       2029.80657409,  251.68406984,  686.08721549,  803.12133521,
        943.93369439, 1763.23200785, 1182.89216041, 1458.8339238 ,
       1052.02768961, 1131.88994979, 1200.17505399, 1612.19531128,
       1339.08178296, 1371.3503454 , 2273.80330377,  194.54646572,
       1266.46995824,   46.81199561, 1245.04484072, 1684.50844942,
        692.73381686,  883.96203332, 1371.29141578,  981.51132248,
        147.11874962,  914.92400339,  550.23425435,  832.44304674,
        942.14719284,  -26.00814523, 2141.97056127,  424.20908486,
        717.11440147, 2542.12511356, 1022.24739196,  438.81258401,
        854.9812533 , 1122.39435826, 1361.47501595, 1876.29343111,
        641.3536391 ,  355.7660255 , 1006.43598284, 1811.82843732,
        337.24806701, 1129.20460202, 1375.8318689 , 1134.36625871,
         11.43119283,  550.96250969,  522.9043216 ,  989.89978998,
       1205.27100072, 1421.39377401,  665.60090968, 1313.41253956,
       2723.21797694, 1398.85305982, 3478.3688948 ,  349.75488047,
        781.74357451, 1020.50424808, 1100.52022014, 1344.83910735,
        960.17182084, 1286.60617108,  213.12573956, 1536.12520265,
       1475.45757382,  962.39271605, 1117.83498212,  470.12427958,
        447.25630888, 1361.39409288, 2088.12880258,  480.64851381,
       1687.84716787, 2376.44981082,  738.44192138, 1085.55584214,
       1083.63074383, 2085.00241991,  217.96413387,  936.0385848 ,
        285.91146874, 1794.12210831,  822.92444614,  246.42485088,
       1087.81211686,  759.20584779,   72.28884326,  936.0385848 ,
       1270.45660286,  238.43255896,  162.0331589 , 3986.34423068,
       1066.99600169, 1684.50844942,  205.05959514, 1699.6648779 ,
       1184.59998539, 1002.60149256, 1273.22949744,  455.27828598,
       1169.31515351,  227.32644072,  463.2356866 , 1164.46122973,
       2130.34696657,  117.54941938, 1084.18802683,  647.26908452,
        353.45147989, 1202.20721086, 1595.27256912, 1221.28944893,
        297.26722582,  157.27921713,  694.39432352, 1265.85171862,
       1355.86569876, 1038.71319128, 2376.44981082, 1670.7745756 ,
       2813.78492248,  833.02038618, 2578.42027261, 1239.28796636,
        909.2945082 , 2783.91674858,  915.40369769, 1935.22862268,
        467.81387178,  687.12618685,  767.59424794,  925.52699711,
        714.91168554,  779.13970717, 1175.73861995, 1590.75196866,
       1289.87947402,  419.16060618,  441.45028371, 1371.3503454 ,
       1391.65046854, 1064.37023133, 2097.48405998, 1128.15123261,
       1147.46312907, 1024.55488011, 1060.71672576,  419.68010099,
       1210.49353152,  211.06324396,  226.8664504 ,  957.04825781,
       1422.96790927, 1617.23432933, 1405.10725232,  181.91289347,
        612.41332045,  718.34939882,  239.52326609,  789.69760518,
       3172.10089988, 1763.47819323, 2238.27961842,  541.06173303])

In [28]:
from sklearn.metrics import mean_absolute_error, mean_absolute_percentage_error ,mean_squared_error, r2_score

print("MAE: ", mean_absolute_error(y, predictions))
print("MAPE: ", mean_absolute_percentage_error(y,predictions)) # Es el complemento del R2
print("MSE: ", mean_squared_error(y,predictions))
print("RMSE: ", np.sqrt(mean_squared_error(y,predictions))) #es el mas/menos en la misma unidad que el target
print("R2: ", r2_score(y,predictions))

MAE:  218.11197876667651
MAPE:  0.23382263916012033
MSE:  86218.57996120316
RMSE:  293.63000521268793
R2:  0.8142223220224903

-----------------------------------------------------------------

## Una vez listo el modelo, toca predecir con el dataset de predicción

Definición de **modelo que está listo**. 

Tras hacer suficientes pruebas, analizar los datos, hacer feature engineering, probar diferentes modelos con diferentes parámetros, es con este con el que observo mejores métricas y menos overfitting. ¡Cuidado con el overfitting aquí! Si vuestro modelo aprende muy bien de estos datos pero hay overfitting cuando le pasemos los datos desconocidos de `test.csv` nos arriesgamos a que digamos, no salga lo esperado.

### 1. Entrena dicho modelo con TODOS tus datos de train, esto es con `train.csv` al completo.


**CON LAS TRANSFORMACIONES QUE LE HAYAS REALIZADO A `X` INCLUÍDAS.**


Véase:
- Estandarización/Normalización
- Eliminación de Outliers
- Eliminación de columnas
- Creación de columnas nuevas
- Gestión de valores nulos
- Y un largo etcétera de técnicas que como Data Scientist hayas considerado las mejores para tu dataset.

In [29]:
X.head()

,Ram,Weight,Memory,ScreenResolution,SSD,Company,TypeName,Cpu,OpSys,Gpu
0,4,2.40,500,1049088,0,560.810290,788.550835,435.000000,1156.522676,446.861250
1,8,1.23,256,5760000,1,1180.813491,1536.767801,1584.005601,1156.522676,1799.077143
2,8,3.00,256,2073600,1,560.810290,788.550835,1013.174710,1156.522676,1048.985000
3,8,1.26,512,2073600,1,1086.775714,675.884211,1584.005601,1156.522676,1172.156294
4,8,2.80,1024,1440000,0,1079.256930,788.550835,405.031111,1156.522676,405.000000

In [30]:
# from sklearn.preprocessing import PolynomialFeatures
# poly_feats = PolynomialFeatures(degree = 3)
# poly_feats.fit(X)
# X_poly = poly_feats.transform(X)
# pd.DataFrame(X_poly)

In [31]:
# pol_reg = LinearRegression()
# pol_reg.fit(X_poly, y)

In [32]:
# predictions = pol_reg.predict(y)


# df_preds = pd.DataFrame(predictions, columns = ['predictions'])
# df_preds['real_value'] = pd.Series(y_test)

# df_preds

# from sklearn.metrics import r2_score
# r2_score(pol_reg.predict(X_test), y_test)

In [33]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

poly_feats = PolynomialFeatures(degree=1)
poly_feats.fit(X)
X_poly = poly_feats.fit_transform(X)

pol_reg = LinearRegression()
pol_reg.fit(X_poly, y)

test_data_poly = poly_feats.transform(test)
predictions = pol_reg.predict(test_data_poly)
df_preds = pd.DataFrame(predictions, columns = ['predictions'])
df_preds

c:\Users\Rafael Ortega\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

     predictions
0    1203.769390
1     457.021605
2     376.788466
3    1080.877189
4     501.442022
..           ...
386  1906.736057
387  2106.325019
388   794.594000
389   345.719981
390  1795.153693

[391 rows x 1 columns]

### 2. Carga los datos de `test.csv` para predecir.

In [34]:
# X_pred = pd.read_csv("C:/Users/Rafael Ortega/Proyectos/Machine_Learning/test/test 2.csv", index_col = 0)
X_pred = test
X_pred.head()

,Ram,Weight,Memory,ScreenResolution,SSD,Company,TypeName,Cpu,Gpu,OpSys
0,8,1.25,256,2073600,1,1208.718750,788.550835,1013.174710,1172.156294,1156.522676
1,4,1.40,32,2304000,0,312.200000,788.550835,289.815000,307.117391,1156.522676
2,2,1.40,32,2073600,0,312.200000,788.550835,289.815000,376.653182,1156.522676
3,8,2.65,1024,2073600,0,1180.813491,1706.815970,1013.174710,1249.338537,1156.522676
4,2,1.10,32,1049088,0,1064.729423,1303.180120,317.258167,339.031600,1156.522676

In [35]:
X_pred.shape

(391, 10)

**¿Por qué da error?**

IMPORTANTE: APLICAR LO MISMO A ESTOS DATOS QUE HAYÁIS APLICADO A LOS DATOS DE ENTRENAMIENTO

- SI EL ARRAY CON EL QUE HICISTEIS `.fit()` ERA DE 4 COLUMNAS, PARA `.predict()` DEBEN SER LAS MISMAS
- SI AL ARRAY CON EL QUE HICISTEIS `.fit()` LO NORMALIZASTEIS, PARA `.predict()` DEBÉIS NORMALIZARLO
- TODO IGUAL SALVO BORRAR FILAS, EL NÚMERO DE ROWS SE DEBE MANTENER EN ESTE SET, PUES LA PREDICCIÓN DEBE TENER 391 FILAS, SI O SI

**Entonces, si al cargar los datos de train usé `index_col=0` para que utilizara la primera columna del conjunto de datos como índice, ¿tendré que hacerlo también para el conjunto `test.csv`?**

![](https://www.tierraljelechu.com/web/img/wiki_up/1.996-SorpresaDto.-1-Red.jpg)

In [36]:
X_pred.head()

,Ram,Weight,Memory,ScreenResolution,SSD,Company,TypeName,Cpu,Gpu,OpSys
0,8,1.25,256,2073600,1,1208.718750,788.550835,1013.174710,1172.156294,1156.522676
1,4,1.40,32,2304000,0,312.200000,788.550835,289.815000,307.117391,1156.522676
2,2,1.40,32,2073600,0,312.200000,788.550835,289.815000,376.653182,1156.522676
3,8,2.65,1024,2073600,0,1180.813491,1706.815970,1013.174710,1249.338537,1156.522676
4,2,1.10,32,1049088,0,1064.729423,1303.180120,317.258167,339.031600,1156.522676

### 3. AHORA puedo hacer la predicción que será lo que subirás a Kaggle.

**¿Qué es lo que subirás a Kaggle?**

In [37]:
predictions_submit = lm.predict(X_pred)
predictions_submit

c:\Users\Rafael Ortega\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array([1203.76938989,  457.02160496,  376.78846583, 1080.87718862,
        501.44202161,  700.89732225,  551.71000533, 1561.59947941,
       1609.90315653, 1398.64423096,  859.90753764, 1239.19942837,
       1287.68151848, 1034.19347528,  823.85953006, 1089.82151553,
       1316.05301056, 2184.23103695,  690.08539829,  659.64622104,
       1353.50662671,  883.25015622,  631.17985473, 1060.44504955,
        237.68562473, 1456.68477869,  824.18104515,  646.56742851,
        614.57755616, 1267.47624635, 1199.21749776, 1157.78602151,
        843.12388986,  974.45076293, 1621.20668091, 1221.14746221,
       1093.74809706, 1392.43373361,  493.95271016, 1686.58625478,
       1820.09167526, 1141.17074167,  244.70548444, 1945.9292823 ,
       1067.67835923, 2049.87826059, 1036.90807296, 1505.90461578,
       1026.0035621 , 1484.40748779, 1033.66652861,  298.58602593,
        830.60213666, 1332.46652713,  454.94056406,  949.67948289,
        876.08506696,  229.36556146, 1178.86523652, 1182.0467995 ,
        878.12766575, 1731.41591848, 1030.87393226,  534.76047565,
        824.84058057, 1318.18267156, 1331.39245736, 1520.52925552,
        981.48408698,  754.2191268 ,  242.07939958, 1878.54911089,
       2007.0221697 , 1623.16262075,  799.77884914, 1028.97312187,
        512.96469099, 2157.40969269,  721.77161623, 1341.07994794,
        984.03071244,  880.56213479, 1166.7005859 , 1504.15353288,
       1250.318663  ,  948.71172936, 1341.09754671, 1165.12158161,
        753.98421843, 1031.52807963, 1649.74039451,  846.85477235,
        140.78760469, 2043.05536142, 1678.62479605, 1534.65996214,
       1203.57438012,  655.36817081,  232.50134496,  345.28355122,
       1309.75505065, 1018.61593976, 1132.15725101,  823.22297888,
       1650.56315453,  641.84319201, 2059.19532106, 1050.30653092,
       3082.13068665, 1555.45197882, 1413.28742039,  689.95724905,
       1272.75400689, 1556.54126872, 1292.13718697, 1661.18686081,
       1362.30829207, 1792.12402189,  870.32283243, 1346.27075145,
        987.34711083, 1323.91824844, 1648.11392918, 1263.12747217,
        783.43982677, 1244.3474881 ,  425.58613589,  979.41394399,
       1045.24123106, 1311.06798586,   17.00717544,  726.87949745,
        762.99233666,  579.949362  ,  276.73448235, 1700.48871263,
       1682.7886047 , 1840.16341686, 1736.04263804, 1158.22435949,
       1282.16576955, 1349.7689841 ,  856.24005024, 1931.06535829,
       1954.7089339 ,  394.32698445, 1571.89909264,  762.99233666,
        500.83968077, 1336.66839954, 1203.34782787, 1201.99964135,
       1745.23544387,  362.6344014 , 1597.3820597 ,  829.31144529,
       1367.13895572, 1046.31487436, 1343.37622224, 1191.89736372,
       3649.33399998, 1341.63586068,  920.56135375,  438.23137236,
        985.69799472, 2264.92644108, 1198.66555389,  952.16494456,
        570.88414812,  923.60716179,  377.06447607,  715.59759888,
        863.95904836,  953.87300165, 1641.94031707,  705.88608122,
       1233.37308284, 1418.4528716 , 1258.53697431,  623.99262207,
        812.04056335, 1623.81745784, 1048.79857979, 1159.74217418,
       1445.47761309, 1003.22745269, 1251.14204725,  537.51740311,
        550.86712724, 1045.52697619, 1276.31184122,  836.79147538,
        438.55988135,  408.76298008, 1048.98304558, 1716.019799  ,
       1878.57067893,  499.94837026, 1021.65993406, 1973.87761528,
       1046.33883055, 1135.42005573, 1442.35851525, 2122.27180411,
        899.73152389, 1103.48550079, 1530.61348551, 1314.31520333,
        755.33934668,  399.56799108, 1173.81061777,  494.43685616,
       1045.52697619, 1402.53512604, 1433.60853269,  493.71989039,
        969.16344276, 1368.36232459,  541.68320104, 1226.26510638,
        277.40616846,  722.67136724,  276.79691406, 1967.19083391,
        537.35479938, 1742.61163837, 1358.67439307, 1563.03186034,
       1268.35120446, 1352.13445006,  766.22830056,  520.73885438,
       2234.15443374, 1098.95614971, 1119.0518722 ,  904.02974911,
       1026.90578258,  699.98426279,  852.94890157,  539.94202464,
       1570.0388745 ,  312.21247836, 1428.21431978, 1359.67858752,
        957.3567919 ,  788.39659732,  724.71432879, 1970.66989198,
       1152.79812805, 1362.04042184,  839.51733717, 2228.30764634,
       1118.42894836, 1352.32318212,  225.09355835,  822.9600901 ,
       1350.15530521, 1259.19531478, 1169.92941141, 1276.81826363,
       1095.01803239, 1746.71786241,  464.85062856, 1658.52027414,
        341.3506628 ,  733.1161448 ,  639.75900683,   26.51045095,
       1238.98293315,  984.7534035 , 1048.79857979, 1054.04074327,
        371.06548812,  229.69334506, 1515.02208682, 1573.25012822,
       1579.20590055,  804.15131999,  658.9140222 , 1758.18246102,
       1165.83168228, 1520.60867785, 3497.59532023,  883.22060546,
       1001.18899784,  381.59345995, 1197.16415997, 1379.29479796,
        750.90505768, 1422.35649527, 1842.7701277 , 1457.61106429,
       1033.98103982,  693.32165419,  813.12158645,  688.21657166,
        151.58219298, 1031.52807963, 1946.59326192, 1035.70344713,
        389.80780405,  542.65384195,  479.0552493 , 1297.63476715,
       1227.79476693, 1711.6021431 , 1733.16328429,  711.19111987,
        484.50397222, 2432.57080916, 1064.57056264,  813.05134952,
       1725.8441868 , 1816.90276302, 1153.68181739, 1316.92191418,
       1923.87271882, 2119.0197133 , 1891.3692439 , 1352.89814122,
        400.2524289 ,  851.39141868, 1272.47394907, 1422.50893276,
       1226.30685929,  700.13424345, 1317.13696781,  529.57771372,
       1549.6800867 , 1094.39712   , 1475.30582635,  841.55050227,
       1613.21354687,  755.33934668,  425.90510022,  753.98421843,
       1455.76235575, 1199.01336683, 1195.30433024,  520.88867756,
       1422.61971186, 1003.52343005,  326.40892311, 1341.52084384,
        715.59759888,  555.75386897,  406.26028882, 1065.90222321,
       1124.99321234, 1496.78974077, 1094.39712   , 1953.03891401,
        779.29615043, 1221.05168468, 1759.46497979, 1397.8786176 ,
        473.07418185, 2755.38105874,  736.90886604, 1191.29369527,
       1343.60555872,  964.31134997, 1349.61295844, 1556.54126872,
       1086.06245707,  439.95816899,  260.33986136,  651.16463789,
       1439.55010179,  875.78522548,  148.31028197,  301.53398861,
       2236.18871501,  952.97644433,  394.32698445,  973.35703176,
       1529.63730843,  839.118458  , 1143.38117344, 1219.96524677,
        464.58702789, 1229.79100547, 1168.75707547, 1048.71114093,
       1795.00417038, 2010.66504967, 1906.73605705, 2106.325019  ,
        794.59399966,  345.71998108, 1795.15369249])

**¡PERO! Para subir a Kaggle la predicción, ésta tendrá que tener una forma específica y no valdrá otra.**

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [38]:
sample = pd.read_csv("data/sample_submission.csv")

In [39]:
sample.head()

   laptop_ID  Price_euros
0        750          500
1        726          500
2        633          500
3        363          650
4        319          650

In [40]:
sample.shape

(391, 2)

### 4. Mete tus predicciones en un dataframe. 

En este caso, la **MISMA** forma que `sample_submission.csv`.

In [41]:
submission = pd.DataFrame({"laptop_ID": sample['laptop_ID'], "Price_euros": predictions})

In [42]:
submission.head()

   laptop_ID  Price_euros
0        750  1203.769390
1        726   457.021605
2        633   376.788466
3        363  1080.877189
4        319   501.442022

In [43]:
submission.shape

(391, 2)

### 5. Pásale el CHEQUEATOR para comprobar que efectivamente está listo para subir a Kaggle.

In [44]:
def chequeator(df_to_submit):
    """
    Esta función se asegura de que tu submission tenga la forma requerida por Kaggle.
    
    Si es así, se guardará el dataframe en un `csv` y estará listo para subir a Kaggle.
    
    Si no, LEE EL MENSAJE Y HAZLE CASO.
    
    Si aún no:
    - apaga tu ordenador, 
    - date una vuelta, 
    - enciendelo otra vez, 
    - abre este notebook y 
    - leelo todo de nuevo. 
    Todos nos merecemos una segunda oportunidad. También tú.
    """
    if df_to_submit.shape == sample.shape:
        if df_to_submit.columns.all() == sample.columns.all():
            if df_to_submit.laptop_ID.all() == sample.laptop_ID.all():
                print("You're ready to submit!")
                submission.to_csv("submission.csv", index = False) #muy importante el index = False
                urllib.request.urlretrieve("https://i.kym-cdn.com/photos/images/facebook/000/747/556/27a.jpg", "gfg.png")     
                img = Image.open("gfg.png")
                img.show()   
            else:
                print("Check the ids and try again")
        else:
            print("Check the names of the columns and try again")
    else:
        print("Check the number of rows and/or columns and try again")
        print("\nMensaje secreto de Clara: No me puedo creer que después de todo este notebook hayas hecho algún cambio en las filas de `diamonds_test.csv`. Lloro.")

In [45]:
chequeator(submission)

You're ready to submit!